
Main_Tpi_laboratorio.py
Tpi_Laboratorio.py
Resources/Mascotas.txt
Controlador_general.py
ControladorGeneral.py
ControladorPropietario.py
ControladorVeterinario.py
diagnosticar.py
diagnostico.py
Ficha_Medica_modelo.py
main_abdul.py
Persona.py
Propietario.py
Propietarios.txt
Resources/Mascotas.txt
tratamiento.py
Vacuna_modelo.py
Veterinario.py
Veterinarios.txt
Vista_diagnostico.py
Vista_Vacuna_Ficha.py
VistaMenu.py
VistaPropietario.py
VistaVeterinario.py
